# Python virtual env
venv/

# Subtitles
*.json
*.mkv
*.srt
*.tsv
*.txt
*.vtt

# Allow python requirements
!requirements.txt
!requirements_lock.txt

# Video/audio files
*.avi
*.flv
*.m4a
*.mkv
*.mp3
*.mp4
*.webm
